@model IEnumerable<Movie_theaters.Models.TheaterModel>

@{
    ViewBag.Title = "ListTheaterForUser";
}

<h2>ListTheaterForUser</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.ActionLink("Look at seances", "RedirectToSeances", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
